html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.header,
.footer {
    height: 25% !important;
    text-align: center;
}

.header {
    background-color: #4286a7;
    text-align: center;
    align-items: center;
    display: inline-block;
}

.main {
    background-color: #1b2c49;
    text-align: center;
    font-size: 28px;
    height: 50% !important;

}

.footer {
    background-color: #4286a7;
    padding: 0 10% 0 10%;
    font-size: 38px;
}

.main,
.footer {
    color: #f0f0f0;
}

.footer h1 {
    display: inline-block;
}

#ore {
    float: left;
}

#data {
    float: right;
}

.header img {
    top: 50%;
}

.main img {
    height: 200px;
}

.news_header {
    height: 15% !important;
    background-color: #4286a7;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
}

.news_header h1 {
    margin: 0 10px;
    font-size: 38px;
    color: #000000;
}

.footer_news {
    height: 15% !important;
    background-color: #4286a7;
    bottom: 0;
    display: flex;
}

.footer_news h1 {
    font-size: 24px;
}

.red {
    background-color: #ff0000;
    width: 15%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.ln {
    width: 10%;
}

.bn {
    width: 90%;
}

.column {
    flex: 1;
    padding: 10px;
}

.box {
    background-color: #4286a7;
    border: 2px #f0f0f0 solid;
}

.bg_dark {
    background-color: #1b2c49;
}

.inner {
    display: flex;
    flex-direction: column;
}

.main_news {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: 250px;
    height: 70%;
}

table {
    height: 15% !important;
}

.marquee {
    overflow: hidden;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    display: flex;
}

.marquee h1 {
    animation: scrolling-text 20s linear infinite;
    white-space: nowrap;
    position: relative;
}

@keyframes scrolling-text {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}